@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.section-1{
    padding: 10px;
    background-color: #1f2937;
    
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{ 
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text{ 
    font-size: 18px;
    color: #e5e7eb;
}

.content{
    display: flex;
    flex-direction: row;
}

img {
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-right: 150px;
    margin: 0;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 150px;
    margin-left: 250px;
}

.sign-up-section-1 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 9px;
}