@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.section-1{
    padding: 10px;
    background-color: #1f2937;
    
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{ 
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text{ 
    font-size: 18px;
    color: #e5e7eb;
}

.content{
    display: flex;
    flex-direction: row;
}

img {
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-right: 150px;
    margin: 0;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 150px;
    margin-left: 250px;
}

.sign-up-section-1 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 9px;
}

.section-2{
    margin-bottom: 100px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px;
}
.row-of-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.p-second{
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

#p-div{
    padding-left: 700px;
    font-size: 20px;
    font-weight: bold;
}

.section-4 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    color: #f9faf8;
    font-size: 24px;
}

.p-fourth {
    color: #e5e7eb;
    font-size: 18px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-div{
    height: 50px;
    width: 150px;
    border: 2px solid;
    border-color: #f9faf8;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
}

